@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #0A2640;
  --secondary-color: #65E4A3;
  --gray-color: #777777;
  --light-gray-color: #C4C4C4;
;
}

body {
  font-family: var(--font-secondary);
}

h1,h2,h3,h4,h5,h6{
  font-family: var(--font-primary);
}

h1 {
  @apply text-h1;
}

h2 {
  @apply text-h2;
}

h3 {
  @apply text-h3;
}

h4 {
  @apply text-h4;
}

h5 {
  @apply text-h5;
}

h6 {
  @apply text-h6;
}

p {
  @apply text-p;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
